<h1>New cherup</h1>

<%= render 'form' %>

<%= link_to 'Back', cherups_path %>

<p>Image to use:</p>
<img id="scream" src='/images/Motivation2.png' alt="The Scream" width="220" height="277">

<!-- <div id="canvas preview">
    <div id="the_image"></div>
    <div id="main_text">Main text</div>
    <div id="sub_text">Sub text blah blah blah</div>
  </div> -->

  <h2>Add your cheerup</h2>
  <label for"enter_main_text">Enter the main headline</label>
  <input id="enter_main_text"></input>
  <button id="draw_the_main_text">Enter my text</button><br />
  <label for"enter_sub_text">Enter the sub line</label>
  <input id="enter_sub_text"></input>
  <button id="draw_the_sub_text">Enter my text</button>

<p>Canvas:</p>
<canvas id="myCanvas" width="530" height="360" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<button id="go_create_image">Create my cheerup</button>
