<h1>New cherup</h1>

<%= render 'form' %>

<%= link_to 'Back', cherups_path %>

<p>Image to use:</p>
<img id="scream" src='/images/Motivation2.png' alt="The Scream" width="220" height="277">

<p>Canvas:</p>
<canvas id="myCanvas" width="250" height="300" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<button id="go_create_image">Create my cheerup</button>
