#my_canvas {
  height: 360px;
  width: 530px;
  background-color: black;
}

#the_image {
  height: 250px;
  width: 470px;
  background-image:url('motivation2.png');
  background-size: cover;
  position: relative;
  left: 30px;
  top: 20px;
}

#main_text, #sub_text {
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  position: relative;
}

#main_text {
  top: 30px;
  font-size: 2em;
}

#sub_text {
  top: 35px;
}


